:root {
  --header-color: #ffffff;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-title-color);
}

@media screen and (min-width: 320) {
  body {
    overflow-x: hidden;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.body.modal-open {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link:hover:hover .social-icon,
.social-link:hover:focus .social-icon, .social-link:focus:hover .social-icon,
.social-link:focus:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms linear;
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
}

.btn-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}

.btn-light {
  color: var(--header-color);
}

.btn-studio-hero {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 136px;
  padding: 10px 32px;
  border-radius: 4px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: rotate(180deg);
  transition: transform 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 528px;
    min-height: 581px;
    transform: translate(-50%, -50%) rotate(0);
  }
}

.modal-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  color: var(--secondary-title-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-label {
  color: var(--second-text-color);
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 10px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
}

.modal-form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  display: block;
  position: absolute;
  fill: var(--secondary-title-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms linear;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message:focus::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (max-width: 768px) {
  .modal-form-checkbox-label {
    font-size: 12px;
  }
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  border: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid #212121;
}

.modal-form-checkbox-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  padding: 10px 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-title-color);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color);
}

.studio-dark {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.burger-btn {
  display: block;
  margin-left: auto;
  background-color: #fff;
  cursor: pointer;
  border: none;
  line-height: 0;
  padding: 0;
  fill: #212121;
  transition: color 250ms linear;
}

.burger-btn:hover, .burger-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  width: 40px;
  height: 40px;
  padding-top: 12px;
  padding-left: 8px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 48px 40px;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}

.mobile-phone__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (max-width: 479px) {
  .mobile-phone__link {
    font-size: 8vw;
  }
}

.mobile-mail__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-social__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-social__item {
  margin-top: 64px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.close-mobile-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  line-height: 0;
  padding: 0;
  fill: #212121;
  transition: color 250ms linear;
}

.close-mobile-btn:hover, .close-mobile-btn:focus {
  fill: var(--accent-color);
}

.close-btn-icon {
  width: 40px;
  height: 40px;
  padding-top: 11px;
  padding-left: 11px;
}

.close-btn-icon.click {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__list--contact {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__list--tab {
    display: block;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    margin-left: auto;
  }
}

.header-contacts__link {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact__icon {
  margin-right: 8px;
  fill: currentColor;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .header-contact__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .icon-mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .icon-phone {
    width: 10px;
    height: 16px;
  }
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header__link:hover, .header__link:focus {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header__link.current::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    bottom: -32px;
    display: block;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .header-contact__item {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.hero-conteiner {
  text-align: center;
}

.section-title {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color-one);
  display: block;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    max-width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop2x.jpg");
  }
}

.title-text {
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .title-text {
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .title-text {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.title-text-hero {
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .title-text-hero {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .title-text-hero {
    width: 696px;
  }
}

.about {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 768px) {
  .about-list {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
  }
}

.title-item {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .title-item {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  .title-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title-item {
    width: 354px;
    margin-right: 30px;
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .title-item:nth-child(2) {
    margin-right: 0px;
  }
  .title-item:nth-child(4) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .title-item:not(:last-child) {
    margin-right: 30px;
  }
}

.title-list-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .title-list-text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .title-list-text {
    text-align: left;
  }
}

.pre-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.about-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.about-icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 1200px) {
  .occupation {
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1200px) {
  .occupation-conteiner {
    display: none;
  }
}

.occupation-list {
  display: flex;
}

.title-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.occupation-item {
  position: relative;
}

.occupation-item:not(:last-child) {
  margin-right: 30px;
}

.occupation-picture-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 83px;
  text-transform: uppercase;
}

.team {
  width: 100%;
  background-color: #F5F4FA;
}

@media screen and (max-width: 1200px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 768px) {
  .team-list {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 768px) {
  .team-item {
    width: 450px;
  }
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-item:nth-child(2) {
    margin-right: 0px;
  }
  .team-item:nth-child(4) {
    margin-right: 0px;
  }
  .team-item:nth-child(3) {
    margin-bottom: 0px;
  }
  .team-item:nth-child(4) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    height: 428px;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

.title-menu-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.pre-title-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-title {
  padding-top: 30px;
}

.clients {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
}

@media screen and (max-width: 768px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    flex-wrap: wrap;
    min-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: center;
    margin-right: 30px;
  }
  .clients-list:last-child {
    margin-right: 0;
  }
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover:hover .clients-icon,
.clients-link:hover:focus .clients-icon, .clients-link:focus:hover .clients-icon,
.clients-link:focus:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-portfolio-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-portfolio:not(:last-child) {
  margin-right: 8px;
}

.portfolio-content-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.portfolio-content-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content-item:hover, .portfolio-content-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content-item:hover .portfolio-content-text {
  transform: translateY(0);
}

.portfolio-text {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
}

.portfolio-content-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-content-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.pre-title-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-content-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-content-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  line-height: 28px;
  font-size: 18px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
  border: 1px solid transparent;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover, .btn-portfolio:focus {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-dark {
  color: var(--primary-text-color);
}

.btn-portfolio-hero {
  display: flex;
  align-items: center;
  min-width: 29px;
  padding: 6px 22px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .footer-conteiner {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    min-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.address-footer-list {
  width: 231px;
}

.address-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-contact {
  width: 231px;
  margin-top: 20px;
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio-light {
  color: var(--primary-title-color);
}

.address {
  font-style: normal;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
}

.title-footer {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-right {
  width: 206px;
}

.footer-left {
  margin-right: 70px;
}

.footer-list {
  display: flex;
  padding-bottom: 30px;
}

.footer-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-icon {
  fill: #ffffff;
}

@media screen and (max-width: 768px) {
  .footter-block {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footter-block {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footter-block {
    margin-left: 93px;
    min-width: 570px;
  }
}

@media screen and (max-width: 768px) {
  .footer-form {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    min-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: flex-end;
  }
}

.footer-form-box {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  width: 358px;
}

.footer-form-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}

.footer-form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-title-color);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-btn-send {
  display: flex;
  align-items: center;
}

.send-icon {
  fill: var(--header-color);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */