.about {
    width: 100%;
    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
}}
.about-list {
    @media screen and (max-width:768px) {
       align-items: center; 
       justify-content: center;
     } 
    @media screen and (min-width:768px) and (max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        min-width: 738px;
     } 
    @media screen and (min-width:1200px) {
       display: flex; 
    } 
}
.title-item {
    @media screen and (max-width:768px) {
        width: 450px;
        margin-right: auto;
        margin-left: auto;

        &:not(:last-child) {
        margin-bottom: 30px;}  
    } 
   @media screen and (min-width:768px)  and (max-width: 1199px)
   { 
    width: 354px;
    margin-right: 30px;
    &:nth-child(2) {
        margin-right: 0px;}
    &:nth-child(4) {
        margin-right: 0px;}
    flex-basis: calc((100% - 1 * 30px) / 2);
    &:nth-child(1) {
        margin-bottom: 30px;}
    &:nth-child(2) {
        margin-bottom: 30px;}
    } 
   @media screen and (min-width:1200px) {
      &:not(:last-child) {
        margin-right: 30px;
   } 
}
}
.title-list-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}
.pre-title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
}
.about-icon {
    width: 70px;
    height: 70px;
}