.about {
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-list {
    @media screen and (min-width:1200px) {
       display: flex; 
    } 
}
.title-item {
    width: 100%;

    &:not(:last-child) {
        margin-right: 30px;
}
}
.title-list-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}
.pre-title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.about-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.about-icon {
    width: 70px;
    height: 70px;
}