.modal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal-form-head {
    color: var(--secondary-title-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 12px;
}
.modal-form-label {
    color: var(--second-text-color);
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 10px;
}
.modal-form-field {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
}
.modal-form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;

}
.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms linear;

    &:focus{
    outline: none;
    border-color: var(--accent-color);
}}
.modal-form-icon {
    display: block;
    position: absolute;
    fill: var(--secondary-title-color);
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms linear;
}
.modal-form-input:focus + .modal-form-icon{
    fill: var(--accent-color);
}
.modal-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms linear;

    &:focus{
    outline: none;
    border-color: var(--accent-color);
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
}}}

.modal-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
    font-size: 12px;
    line-height: 1.17;   
    letter-spacing: 0.03em;
    color: var(--second-text-color);

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
}

    &::before{
        display: block;
        content: '';
        width: 16px;
        height: 15px;
        border: 1px solid #212121;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 7px;
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
        
    }}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before{
    background-color: var(--accent-color);
    border: var(--accent-color);
    
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before{
    outline: 2px solid #212121;
}
.modal-form-checkbox-link{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
}
}
.modal-form-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    padding: 10px 56px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--primary-title-color);
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
}